<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.worldgeography"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity android:name=".Normal" android:screenOrientation="portrait" ></activity>
        <activity android:name=".Quiz" android:screenOrientation="portrait" ></activity>
        <activity android:name=".Facts" android:screenOrientation="portrait" ></activity>
        <activity android:name=".Score" android:screenOrientation="portrait" ></activity>
        <activity android:name=".FactPage" android:screenOrientation="portrait" ></activity>
        <activity android:name=".Credits" android:screenOrientation="portrait" ></activity>
        <activity android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
